extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Your Books
        p Your books are here
        p Fave books

        button.btn.btn-primary(href="#") Add a book


